@media (max-width: 768px) {
	
	/* block - blog-main, for 768px */

	.blog-main {
		height: 628px;
		transform: translateY(36px);
	}

	.blog-main::before {
		height: 36px;
	}

	.blog-main__preview-image {
    background-size: contain;
		height: 391px;
    margin: auto;
    transform: translate(0, -16px);
    width: 700px;
	}

	.blog-main__play-button {
		height: 51px;
		left: calc(50% - 32px);
		top: calc(50% - 32px);
		width: 51px;
	}

	.play-button__triangilar::after {
	  transform: translate(-3px, 21px);
	}

	.blog-main__description-title {
		transform: translateY(-24px);
	}

	.blog-main__description-text {
		transform: translateY(-32px);
	}

}

@media (max-width: 698px) {
	
	.blog-main__preview-image {
		background-position: center;
		background-size: contain;
		max-width: 698px;
	}

}
