	/* block - gallery, for 1170px */

.gallery {
	max-width: calc(147px *7);
	margin: auto;
}

.gallery__social-tag {
	color: #bbb;
	display: flex;
	font-size: 1.8em;
	font-weight: bold;
	justify-content: flex-end;
	text-transform: uppercase;
	transform: translateY(8px);
}

.gallery__wrap-items {
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-template-rows: auto;
	transform: translateY(15px);
}


.gallery__image_photo1 {
background: url(img/gallery/social-net/1.jpg);
}

.gallery__image_photo2 {
background: url(img/gallery/social-net/2.jpg);
}

.gallery__image_photo3 {
background: url(img/gallery/social-net/3.jpg);
}

.gallery__image_photo4 {
background: url(img/gallery/social-net/4.jpg);
}

.gallery__image_photo5 {
background: url(img/gallery/social-net/5.jpg);
}

.gallery__image_photo6 {
background: url(img/gallery/social-net/6.jpg);
}

.gallery__image_photo7 {
background: url(img/gallery/social-net/7.jpg);
}

.gallery__image_photo8 {
	background: url(img/gallery/social-net/1.jpg);
	display: none;
}


.gallery__image {
	background-size: cover;
	height: 147px;
}
