@media (max-width: 1024px) {

	 /*block - preview, for 1024px */

	.preview {
		margin-bottom: 44px;
	}

	.preview__title {
	  margin-bottom: 24px;
	}

	.preview__wrap-items {
	  max-width: 960px;
	}

	.preview__image {
	  margin-bottom: 7px;
	  width: 170px;
	}

	.preview__item::after {
	  right: -.4em;
	  top: 33px;
	}

	.preview__item:last-child::after {
	  content: none;
	}

	.preview__image_rasta {
		background-size: contain;
	}

	.preview__image_pepper {
		background-size: contain;
	}

	.preview__image_rust {
		background-size: contain;
	}

	.preview__image_blue {
		background-size: contain;
	}

	.preview__breadcrumbs {
	  left: 1.6em;
	}

	.preview__price {
	  bottom: 2.3em;
	  left: 1.6em;
	}

	.preview__wrap-colors {
	  bottom: 32px;
	  right: 24px;
	  width: 49px;
	}

}
