@media (max-width: 768px) {
	
	/* block - preview, for 768px */

	.preview {
		margin-bottom: 1px;
		position: relative;
	}

	.preview::after {
		border-left: 100vw solid transparent;
		border-top: 35px solid #fff;
		bottom: -35px;
		content: '';
	  position: absolute;
		z-index: 1;
	}

	.preview__title {
	  font-size: 2.26em;
	  letter-spacing: .3px;
	  margin-bottom: 32px;
	  transform: translateX(-9px);
	}

	.preview__wrap-items {
	  max-width: 690px;
	}

	.preview__item {
	  box-sizing: border-box;
	  height: 352px;
	  position: relative;
	  width: 280px;
	}

	.preview__image {
	  height: 233px;
	  width: 230px;
	}

	.preview__item:nth-child(3),
	.preview__item:nth-child(4) {
		display: none;
	}

	.preview__item::after {
		content: none;
	}

	.preview__image_rasta {
	  background-size: contain;
	}

	.preview__image_pepper {
	  background-size: contain;
	}

	.preview__breadcrumbs {
	  font-size: 	1.5em;
	  left: .7em;
	  letter-spacing: .03em;
		transform: translateY(-18px);
	  width: 260px;
	}

	.preview__price {
	  bottom: 1.7em;
	  font-size: 2em;
	  left: .5em;
	}

	.preview__wrap-colors {
	  bottom: 50px;
	  right: 15px;
	  width: 96px;
	}

	.preview__item-circle {
	  height: 20px;
	  width: 20px;
	}

	.preview__item-circle_big {
	  height: 20px;
	  width: 20px;
	}

	.preview__item-circle_brown {
		order: -1;
	}

}
