	/* block - header, for 1170px */

.header {
	align-items: center;
	display: flex;
	height: 116px;
	justify-content: space-between;
	margin: auto;
	max-width: 1030px;
}

.header__logo {
	transform: translateY(2px);
}

.logo {
	background: url(img/logo.png) center / cover no-repeat;
	height: 55px;
	width: 55px;
}

.header__nav {
	display: flex;
	flex-basis: 335px;
	justify-content: space-between;
	transform: translateX(-45px);
}

.nav__item,
.header__profile {
	font-size: 1.2em;
}

.nav__item_burger-link {
	display: none;
}

.header__search {
	transform: translate(54px, 3px);
}

.search {
	border-bottom: 1px solid #000;
	height: 20px;
}

.search_input {
	background: url(img/search.svg)  right / contain no-repeat;
	border: none;
	outline: none;
	padding: 0 8px;
	width: 162px;
}

.header__profile {
	display: flex;
	flex-basis: 191px;
	justify-content: space-between;
	transform: translateY(1px);
}

.profile__item_in-cart {
	background: #000;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	font-size: .9em;
	font-weight: bold;
	height: 14px;
	padding: 1px;
	text-align: center;
	transform: translateX(2px);
	width: 14px;
}

.profile__item_language {
	background: url(img/language/en.svg) no-repeat;
	transform: translateY(-2px);
	width: 20px;
}
