	/* block - header, for 1170px */

.header {
	display: flex;
	align-items: center;
	height: 116px;
	max-width: 1030px;
	background: yellow;
	margin: auto;
	justify-content: space-between;
	/*background: red;*/
}

.header__logo {
	/*margin-right: 40px;*/
	transform: translateY(2px);
}

.logo {
	background: url(img/logo.png) center / cover no-repeat;
	height: 55px;
	width: 55px;
}

.header__nav {
	/*margin-right: 150px*/
}

.nav {
	background: red;
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	flex-basis: 335px;
						transform: translate(-45px, -1px);
	/*background: blue;*/
	/*flex-basis: 440px;*/
}

.nav__item,
.header__profile {
	/*background-color: blue;*/
	font-size: 1.2em;
	/*flex-basis: auto;*/
}

.nav__item_burger-link {
	display: none;
}

.nav__item_burger-menu {
}

.burger-menu {
}

.burger-menu__top {
}

.burger-menu__bottom {
}

.header__search {
	background: red;
	flex-basis: 178px;
	transform: translate(54px, 2px);
}

.search {}
.search_input {}
.header__profile {
	display: flex;
	justify-content: space-between;
	flex-basis: 191px;
	background: red;
	/*transform: translateY(0px);*/
}
.profile {}
.profile__item {}

.profile__item_in-cart {
	border-radius: 50px;
	color: #fff;
	padding: 1px;
	/*font-size: .8em;*/
	font-weight: 100;
	text-align: center;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: blue;
	transform: translateX(2px);
}

.profile__item_language {
	background: url(img/language/en.svg);
	width: 20px;
	transform: translateY(-2px);
	/*height: 19px;*/
}